# Ignore node_modules folders in both frontend and backend
node_modules/

# Ignore build folders in frontend and backend
frontend/build/
backend/build/

# Ignore environment variable file
.env

# Ignore Docker-specific files
.docker/

# Ignore .DS_Store (macOS)
.DS_Store
